body {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
}

.cls-1 {
  fill: #ccc9c9;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

#C112:hover, #C111:hover, #Distributeur:hover, #C121:hover, #C122:hover, #C124:hover, #C126:hover, #EntreeP:hover, #EntreeDroite:hover, #C131:hover, #C133:hover {
  fill: #009933;
}

.selectedItem {
  fill: #009933;
}

.Default {
  position: absolute;
  padding-top: 100px;
  font-size: 25px;
}

.hidden {
  visibility: hidden;
}
